body {
    background-color: rgb(245, 237, 230);
}
/* ENDS INDEX STYLE FORM */
.card-login {
    padding: 90px 0 0 0;
    width: 350px;
    margin: 0 auto;
}
/* ENDS INDEX STYLE FORM */

.form-group{
    padding: 5px 0;
}